<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="customSection" type="BCLProject.Configuration.CustomConfigurationSection, BCLProject"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <customSection culture="ru-RU">
    <folders>
      <folder name="First" path="G:\saaab" />
      <folder name="Second" path="G:\torrents" />
      <folder name="Third" path="G:\Music\Music"/>
    </folders>
    <rules defaultDirectory="G:\defaultDirectory">
      <rule filePatternName="1.*" counter="false" movementDate="false" folderToSave="G:\folderToSave1"/>
      <rule filePatternName="2.*" counter="false" movementDate="true" folderToSave="G:\folderToSave2"/>
      <rule filePatternName="3.*" counter="true" movementDate="false" folderToSave="G:\folderToSave3"/>
      <rule filePatternName="4.*" counter="true" movementDate="true" folderToSave="G:\folderToSave4"/>
    </rules>
  </customSection>
</configuration>